* {
    border: solid 0px black;
}

.body {
    margin: 0px;
    height: 100vh;
    display: flex;
}

.header {
    top: 0px;
    width: 100%;
    height: 85px;
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1000;
    background-color: #dfe7dd;
}

.navbar {
    width: 100%;
    max-width: 1328px;
    height: 30px;
    margin-top: 27px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: relative;

}

.nav-container {
    /* margin-left: 50px; */
}

search-container {}

.search-bar {
    border: 1px solid black;
    margin-left: 80px;
    margin-top: 11px;
    background-color: #dfe7dd;
    border-color: grey;
    border-width: 1px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;

}

.search-bar:hover {
    color: #EFC14CFF;
    transition: 0.3s;
}

.search-bar input {
    width: 160px;
    height: 25px;
    border: none;
    background-color: #dfe7dd;
    outline: none;
    color: white;


}

.icon-image {
    width: 24px;
    height: 24px;
    position: relative;
    vertical-align: middle;
}

.middle-container {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
}

/* .middle-container:hover {
    color: #EFC14CFF;
} */

.logo {
    margin-left: 70px;
    margin-right: 70px
}

.logo:hover {
    color: #EFC14CFF;
    transition: 0.3s;
}

.logo h2 {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.4em;
    line-height: 20px;
}

.left-text {
    display: flex;
    grid-gap: 40px;
    position: relative;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 1;
}

.shop:hover {
    color: #EFC14CFF;
    transition: 0.3s;
}

.lookbook:hover {
    color: #EFC14CFF;
    transition: 0.3s;
}

.style:hover {
    color: #EFC14CFF;
    transition: 0.3s;
}

.right-text {
    display: flex;
    grid-gap: 40px;
    position: relative;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.01em;
    line-height: 1;
}

.about:hover {
    color: #EFC14CFF;
    transition: 0.3s;
}

.blog:hover {
    color: #EFC14CFF;
    transition: 0.3s;
}

.contact:hover {
    color: #EFC14CFF;
    transition: 0.3s;
}

.icons-image {
    /* margin-right: 50px; */
    display: flex;
    grid-gap: 40px;
}

.main {
    width: 100%;

}

.hero-container {
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #dfe7dd;
}

.max-width {
    max-width: 1032px;
    margin-left: 190px;
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;

}

.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.info-container {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    position: relative;
}

.info-image {
    width: 2px;
    height: 52px;
}

.info-text {
    color: #696666;
    font-size: 12px;
    font-family: jost;
    font-weight: 600;
    line-height: 18px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
}

.heading h1 {
    font-size: 36px;
    font-family: jost;
    font-weight: 500;
    line-height: 47px;
    letter-spacing: 0.16em;
}

.price-info {
    margin-bottom: 15px;
}

.from {
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    font-style: normal;
    letter-spacing: 0.1em;
    margin-right: 4px;
}

.dollar-amnt {
    font-size: 32px;
    font-weight: 500;
    line-height: 32px;
    font-style: normal;
}

.explore-btn {
    margin-top: 30px;
}

.explore-btn button {
    font-style: normal;
    line-height: 14px;
    font-weight: 500;
    font-size: 15px;
    font-weight: 500;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 26px;
    padding-left: 26px;
    border-radius: 0px;
    background-color: #dfe7dd;
    cursor: pointer;
    transition: 0.3s;
    text-decoration: none;
    box-sizing: border-box;
    border: solid 1px;
    border-color: #00000080;
}

.explore-btn button:hover {
    background-color: #EFC14CFF;
    color: white;
    border-style: none;
}

.chair-image {
    position: relative;
}

.max-width {
    /* margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column; */
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
}

.heading h1 {
    font-size: 28px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.06em;
    text-align: center;
}

.heading h3 {
    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.06em;
    color: grey;
    margin-bottom: 0px;
    margin-top: 0px;
}

.image-container {
    display: flex;
    padding-left: 20px;
    padding-right: 0px;
    justify-content: center;
}

.image-contain {
    display: flex;
    flex-direction: column;
    padding-right: 35px;
}

.image-contain img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 16px;
    object-position: bottom;
}

.image-heading {
    text-align: center;
}

.line-box {
    width: 100%;
    height: 1px;
    background-color: #e5e5e5ff;
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

.rectangle-box {
    width: 250px;
    height: 100px;
    display: flex;
    justify-content: center;
    border: 1px solid #e5e5e5ff;
    align-items: center;
    margin-top: -50px;
    flex-direction: column;
    justify-content: center;
    background-color: white;
}

.text-mobillio {
    font-size: 28px;
    letter-spacing: 0.3em;
    font-weight: 540;
    font-family: sans-serif;
}

.code {
    font-size: 11px;
    letter-spacing: 0.4em;
    color: rgb(106, 105, 105);
    font-family: sans-serif;
    line-height: 20px;
    padding-top: 7px;
}

.text-max-width {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 135px;
}

.text-containar {
    width: 100%;
    max-width: 770px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-style: normal;
    position: relative;
    box-sizing: border-box;
    border-color: black;
}

.text {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    font-size: 16px;
    font-style: normal;
    font-family: sans-serif;
    text-align: center;
    text-decoration: none;
}

.text-one {
    margin-bottom: -10px;
}

.text-two {
    margin-bottom: -10px;
}

.text-three {
    line-height: 175%;
}

.m-image {
    margin-top: -197px
}

.readmore-button button {
    cursor: pointer;
    color: #000000cc;
    font-weight: 550;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 24px;
    padding-left: 24px;
    line-height: 14px;
    margin-top: 40px;
    font-size: 15px;
    border-radius: 0px;
    text-decoration: none;
    border-style: none;
    border: 1px solid;
    transition: 0.3s;
}

.readmore-button button:hover {
    background-color: #EFC14CFF;
    color: white;
}

.trending-items-container {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.tending-max-width {
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
    max-width: 1;
    max-width: 1328px;
    width: 100%;
    align-items: center;
}

.trending-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: sans-serif;

}

.trending-heading h1 {}

.trending-heading h3 {}

.image-trending {
    width: 100%;
    display: flex;
    align-items: stretch;
}

.bulb-image {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
    flex: 1;
    display: flex;
    align-self: stretch;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.image {
    width: 100%;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

/* #left-image {
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.right-image {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.top-image {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.executive-chair {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.garden-chair {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.image img {
    width: 100%;
    flex: 1;
    object-fit: cover;
}

.bottom-image {
    flex: 1;
    width: 100%;
    display: flex;
}

.lamp-image {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.jars-flower-image {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 16px;
    padding-left: 16px;
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.tag {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    padding-right: 32px;
    padding-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tag h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 14px;
    color: #000000cc;
    padding-top: 0px;
    height: 17px;
    margin-top: 4px;
}

.stars {
    display: grid;
    grid-gap: 8px;
    margin-bottom: 24px;
    grid-template-columns: repeat(5, 1fr);
}

.stars svg {
    fill: #efc14cff;
    width: 24px;
    height: 24px;

}

.look-books-container {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.left-content {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #F3F0E6;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-one {
    font-size: 32px;
    font-family: sans-serif;
    margin-bottom: 16px;

}

.text-two {
    color: rgba(0, 0, 0, 0.6000000238418579);
    width: 267px;
    height: auto;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.image-lookbooks {
    width: 60%;
    display: flex;

}

.image-lookbooks img {
    width: 100%;
}

.rupees {
    color: #00000080;
    font-style: normal;
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 0px;
    padding-top: 0px;
}

.dollar {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    font-style: normal;

}

.text-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-button button {
    background-color: #EFC14CFF;
    color: black;
    cursor: pointer;
    transition: 0.3s;
    color: #000000cc;
    font-weight: 550;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-right: 24px;
    padding-left: 24px;
    line-height: 14px;
    margin-top: 40px;
    font-size: 15px;
    border-radius: 0px;
    text-decoration: none;
    border-style: none;
    border: 1px solid;
}
.text-button button:hover {
    background-color: white;
    color: black;
    border-color: #EFC14CFF;
}

.footer {
    width: 100%;
    display: flex;
    /* flex-direction: row;
    justify-content: center; */
    align-items: center;
    border-top: 1px #e5e5e5ff solid;
}

.max-width-footer {
    width: 100%;
    max-width: 1328px;
    display: flex;
    /* flex-direction: row;
    align-items: center; */
    justify-content: space-between;
    padding-left: 67px;
    padding-right: 67px;
    padding-top: 98px;
    padding-bottom: 85px;
}

.address {
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.address h3 {
    margin-top: 0px;
    letter-spacing: 0.2em;
}

.address span {
    font-size: 16px;
    color: #00000080;
}

.add-one {
    margin-bottom: 30px;
}

.add-two {
    margin-bottom: 14px;
}

.line {
    display: flex;
    flex-direction: column;
}

.sub-line {
    display: flex;
    flex-direction: column;
    color: #00000080;
    font-size: 16px;
    font-family: sans-serif;
}

.sub-line span {
    margin-bottom: 20px;
}

.bold-line {
    font-size: 18px;
    line-height: 14px;
    font-weight: 500;
    font-family: sans-serif;
    /* font-weight: 600; */
    margin-bottom: 44px;
}

.blog-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 100px;
}

.blog-max-width {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;

}

.blog-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

}

.blog-heading h1 {
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.06em;
    font-family: sans-serif;
}

.blog-heading span {
    font-size: 16px;
    color: #00000099;
    font-family: sans-serif;
}

.blog-images {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.three-blog-image {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    transition: 0.3s;
    position: relative;
    align-self: stretch;
    justify-content: space-between;
}

.three-blog-image:hover {
    /* -ms-transform: scale(1.2); IE 9 */
    /* -webkit-transform: scale(1.2); Safari 3-8 */
    transform: scale(1.03); 
}

.three-blog-image img {
    flex: 1;
    width: 100%;
    object-fit: cover;
}

.blog-button {
    background-color: white;
    color: black;
    border: 1px solid black;
    border-radius: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 30px;

}

.blog-button:hover {
    color: white;
    background-color:#EFC14CFF;
    border: none;
    
}

.blog-image-head h3 {
    font-size: 22px;
    line-height: 28px;
    font-weight: 500;
    padding-top: 25px;
}

.blog-image-head span {
   color: #00000080;
}
