body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: #fa8072;
    
}

.container {
    background-color: rgb(235, 184, 192);
    width: 400px;
    padding: 20px;
    margin: 5px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    font-family: cursive;
}

.textarea{
    resize: none;
    width: 100%;
    height: 100px;
    padding: 10px;
    box-sizing: border-box;
    border: solid 2px grey;
    font-size: 20px;
}

.counter-container{
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    font-size: 20px;
    color: grey;

}

.total-counter{
    color: blue;
    
}

.remaining-counter{
    color: orangered;
}
